/* MAIN AND ARTICLES */
#blog-main {
  margin: 0 15%;
  padding: 1rem;
  width: 50%;
}

#blog-main article {
  /* border: 5rem solid rgba(94, 128, 180, 0.3); */
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-top: 3px ridge rgba(10, 10, 10, 0.7);
  background-color: #fff;
  padding: 3rem 5rem 5rem;
  margin: 10rem 0;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* border-radius: 10px; */
  border-radius: 1px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#blog-main h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
  font-size: 2.2rem;
}

#blog-main article p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.1px;
  line-height: 1.8rem;
  text-align: left;
  margin: 1rem;
}

.article-info {
  font-size: 0.8rem;
  margin-bottom: 3rem;
}

.article-info p {
  font-weight: 500;
  color: rgba(20, 20, 20, 0.8);
}

#blog-main article figure {
  max-width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-flow: column;
}

#blog-main article img {
  max-width: 100%;
  padding: 1rem;
}

#blog-main article figcaption {
  text-align: center;
  color: rgba(20, 20, 20, 0.8);
}

.blog-container {
  display: flex;
  justify-content: space-between;
}

/* SIDEBAR */
.sidebar {
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 4.2rem;
  z-index: 1;
  width: 20rem;
  height: 100%;
  border: 1px solid rgba(20, 20, 20, 0.2);
  /* border-top: 3px ridge rgba(10, 10, 10, 0.7); */
  box-shadow: var(--box-shadow);
  border-radius: 1px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: var(--transition-main);
}

.sidebar header {
  display: flex;
  justify-content: flex-start;
}

.sidebar h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  color: #222;
  flex: 1;
}

.sidebar-close {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 0 1rem;
  z-index: 2;
}

.sidebar-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  padding: 0 1rem;
  z-index: 2;
  visibility: hidden;
}

.sidebar-open.show {
  visibility: visible;
}

#aside-main {
  margin: 0 1rem;
}

.aside-item {
  /* Aside Div */
  height: 7rem;
  margin-bottom: 1.5rem;
  padding: 0.2rem;
}

.aside-item:hover {
  background-color: rgb(245, 245, 245, 1);
}

.aside-item-image {
  display: flex;
  height: 100%;
}

.aside-item-image img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.sidebar.close {
  transform: translateX(100%);
}

/* SIDEBAR END */

.grown-div {
  flex-grow: 1;
  padding: 0.8rem;
}

.grown-div h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  padding: 0;
}

.block-span {
  display: inline-block;
}

@media (max-width: 960px) {
  #blog-main {
    width: auto;
  }

  #blog-main article {
    padding: 1rem;
  }

  aside {
    display: none;
  }
}

@media (max-width: 700px) {
  #blog-main {
    margin: 0 2%;
  }

  #blog-main article {
    padding: 0;
  }

  main {
    margin: 0 2%;
    overflow: auto;
  }
}
