.btn {
  background-color: rgb(233, 237, 245);
  background-color: rgb(228, 232, 242);
  display: block;
  width: 7.5rem;
  height: 3.5rem;
  margin: 2rem auto;
  border: 1px solid var(--main-bg-color);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 8px -5px rgba(0,0,0,0.5);
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  /* ANIMATION */
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}

#header-button {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  box-shadow: var(--box-shadow);
  position: relative;
  width: 10rem;
  margin: auto;
  display: block;
  top: 35%;
  height: 3.8rem;
  background-color: rgba(255, 255, 255, 0); 
  border: 1px solid #fff;
  color: #fff;
  
}

#header-button:hover {
  color: #000;
  background-color: #fff;
}