footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--footer-bg-color);
  /* background-color: rgba(76, 81, 109, 1); */
  /* background-color: rgb(70, 130, 180); */
  /* background-color: rgb(88, 139, 180); */
  /* background-color: rgb(114, 133, 165); */
  box-shadow: var(--box-shadow);
}

footer a {
  text-decoration: none;
  color: #000;
}

.footer-items ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-items li {
  padding: 1.5rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.footer-para {
  text-align: center;
  padding: 2% 25% 1% 25%;
  letter-spacing: 0.1rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons a {
  margin: 1rem 2rem;
}

.footer-icons div {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
}

#twitter-icon {
  background-image: url("../images/icons/icon-twitter-black.svg");
}

#twitter-icon:hover {
  background-image: url("../images/icons/icon-twitter-white.svg");
}

#facebook-icon {
  background-image: url("../images/icons/facebook-icon-black.svg");
}

#facebook-icon:hover {
  background-image: url("../images/icons/facebook-icon-white.svg");
}

#linkedin-icon {
  background-image: url("../images/icons/linked-icon-black.svg");
}

#linkedin-icon:hover {
  background-image: url("../images/icons/linked-icon-white.svg");
} 

#instagram-icon {
  background-image: url("../images/icons/instagram-icon-black.svg");
}

#instagram-icon:hover {
  background-image: url("../images/icons/instagram-icon-white.svg");
}

.footer-copy {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 1.5rem;
}

.nv-logo {
  font-weight: 600;
}

@media (max-width: 700px) {
  .footer-items ul {
    flex-direction: column;
    align-items: center;
  }
  .footer-para {
    padding: 2% 5% 1% 5%;
  }
}