:root {
  /* var(--main-bg-color); */
  --main-bg-color: rgb(232, 234, 237);
  --footer-bg-color: rgb(114, 133, 165);
  --text-shadow: 4px 4px 5px rgb(75, 71, 71);
  --box-shadow: 2px 2px 12px -3px rgba(0,0,0,0.75);
  /* FONTS */
  /* 
  font-family: 'Lato', sans-serif;
    Weight: 300/400;
  font-family: 'Raleway', sans-serif;
    Weight: 400/500;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
    Weight: 400/500; 
  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-bg-color);
  height: 100vh;
  width: 100vw;
}

main {
  margin: 0 15%;
  overflow: hidden;
}

main article {
  padding: 0 1.5rem;
}

main article h2 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

main article p {
  margin-bottom: 1rem;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.01rem;
}

main article span {
  font-weight: 600;
}

h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.spacer {
  margin-bottom: 5rem;
}

.fade-in {
  transition: background-color 0.8s;
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}