:root {
  /* var(--main-bg-color); */
  --main-bg-color: rgb(232, 234, 237);
  --footer-bg-color: rgb(114, 133, 165);
  --text-shadow: 4px 4px 5px rgb(75, 71, 71);
  --text-shadowBlack: 4px 4px 5px rgb(34, 25, 25);
  --box-shadow: 2px 2px 12px -3px rgba(0, 0, 0, 0.75);
  --transition-main: all 0.2s ease-in;
  /* FONTS */
  /* 
  font-family: 'Lato', sans-serif;
    Weight: 300/400;
  font-family: 'Raleway', sans-serif;
    Weight: 400/500;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
    Weight: 400/500; 
  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-bg-color);
}

main {
  font-size: 1.1rem;
  margin: 0 15%;
  overflow: hidden;
}

main article {
  padding: 2rem;
}

main article h2 {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

main article p {
  margin-bottom: 1rem;
  line-height: 1.5;
  letter-spacing: 0.01rem;
}

main article span {
  font-weight: 600;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.spacer {
  margin-bottom: 5rem;
}

.fade-in {
  transition: background-color 0.8s;
}

/* UTILITY CLASSES */
.wrapper {
  margin: 0 auto;
  max-width: 680px;
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}
