nav {
  box-shadow: var(--box-shadow);
  position: fixed;
  width: 100%;
  z-index: 1;
  animation: slideBottom 1s;
}

.ul-nav {
  /* border: 2px solid black; */
  background: #fff;
  padding: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #000;
}

@keyframes slideBottom {
  from {
    margin-top: -50%;
  }
}
